[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Generic Audio Player
Name[af]=Generiese Oudio Speler
Name[ar]= قارئ صوتي عام
Name[bg]=Аудио плеър
Name[bn]=সাধারণ অডিও প্লেয়ার
Name[ca]=Reproductor d'àudio genèric
Name[cs]=Běžný audio přehrávač
Name[da]=Generisk lydafspiller
Name[de]=Generischer Media-Player
Name[el]=Γενικός αναπαραγωγέας ήχου
Name[eo]=Ĝenerika Aŭdludilo
Name[es]=Reproductor de audio genérico
Name[et]=Üldine helifailide mängija
Name[fa]=پخش‌کنندۀ صوتی عمومی
Name[fi]=Yleinen musiikkisoitin
Name[fr]=Lecteur audio générique
Name[ga]=Seinnteoir Ginearálta Fuaime
Name[gl]=Reprodutor de Áudio Xenérico
Name[hu]=Általános zenelejátszó
Name[is]=Almennur tónlistarspilari
Name[it]=Lettore audio generico
Name[ja]=一般的なオーディオプレーヤ
Name[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ​ទូទៅ
Name[lt]=Bendrasis muzikos grotuvas
Name[mk]=Аудио-изведувач
Name[ms]=Pemain Audio Generik
Name[nb]=Musikkavspiller
Name[nds]=Klangafspeler
Name[ne]=जेनेरिक अडियो प्लेयर
Name[nl]=Generieke audiospeler
Name[nn]=Generell lydspelar
Name[pa]=ਆਮ ਆਡੀਓ ਪਲੇਅਰ
Name[pl]=Odtwarzacz audio
Name[pt]=Leitor de Áudio Genérico
Name[pt_BR]=Reprodutor de Áudio Genérico
Name[ru]=Проигрыватель
Name[se]=Jietnačuojaheaddji
Name[sk]=Všeobecný audio prehrávač
Name[sr]=Генерички аудио плејер
Name[sr@Latn]=Generički audio plejer
Name[sv]=Generell ljudspelare
Name[th]=โปรแกรมเล่นเสียงทั่วไป
Name[tr]=Genel Ses Çalar
Name[uk]=Загальний аудіопрогравач
Name[uz]=Oddiy audio-pleyer
Name[uz@cyrillic]=Оддий аудио-плейер
Name[wa]=Djouweu d' son djenerike
Name[zh_CN]=通用音频播放器
Name[zh_TW]=通用音樂播放程式
X-KDE-Library=libpana_generic-mediadevice
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=mediadevice
X-KDE-Pana-name=generic-mediadevice
X-KDE-Pana-authors=Jeff Mitchell
X-KDE-Pana-email=kde-dev@emailgoeshere.com
X-KDE-Pana-rank=100
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32
