[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SMB Device
Name[af]=SMB Toestel
Name[ar]=جهاز SMB
Name[bg]=SMB устройство
Name[bn]=এস-এম‌-বি ডিভাইস
Name[ca]=Dispositiu SMB
Name[cs]=SMB zařízení
Name[da]=SMB-enhed
Name[de]=SMB-Gerät
Name[el]=Συσκευή SMB
Name[eo]=SMB Aranĝaĵo
Name[es]=Dispositivo SMB
Name[et]=SMB-seade
Name[fa]=دستگاه SMB
Name[fi]=SMB-laite
Name[fr]=Périphérique SMB
Name[ga]=Gléas SMB
Name[gl]=Dispositivo SMB
Name[hu]=SMB-eszköz
Name[is]=SMB tæki
Name[it]=Dispositivo SMB
Name[ja]=SMB デバイス
Name[ka]=SMB მოწყობილობა
Name[km]=ឧបករណ៍ SMB
Name[lt]=SMB įrenginys
Name[mk]=SMB-уред
Name[ms]=Peranti SMB
Name[nb]=SMB-enhet
Name[nds]=SMB-Reedschap
Name[ne]=SMB यन्त्र
Name[nl]=SMB-apparaat
Name[nn]=SMB-eining
Name[pa]=SMB ਜੰਤਰ
Name[pl]=Urządzenie SMB
Name[pt]=Dispositivo SMB
Name[pt_BR]=Dispositivo SMB
Name[se]=SMB-ovttadat
Name[sk]=SMB zariadenie
Name[sr]=SMB уређај
Name[sr@Latn]=SMB uređaj
Name[sv]=SMB-enhet
Name[tr]=SMB Aygıtı
Name[uk]=Пристрій SMB
Name[uz]=SMB uskunasi
Name[uz@cyrillic]=SMB ускунаси
Name[wa]=Éndjin SMB
Name[zh_CN]=SMB 设备
Name[zh_TW]=MSB 裝置
Comment=Device plugin for Pana which supports SMBFS
Comment[af]=Toestel inprop module vir Pana wat SMBFS ondersteuning bied
Comment[bg]=Приставка за устройство за Pana, поддържаща SMBFS
Comment[bn]=আমারক-এর জন্য ডিভাইস প্লাগিন যা এসএম‌বিএফএস সমর্থন করে
Comment[ca]=Connector de dispositiu per a l'Pana que accepta SMBFS
Comment[cs]=Modul zařízení pro pana, které podporuje SMBFS
Comment[da]=Enhedsplugin for Pana som understøtter SMBFS
Comment[de]=Geräte-Modul für Pana mit Unterstützung für SMB-Dateisystem
Comment[el]=Πρόσθετο συσκευής για το pana με υποστήριξη SMBFS
Comment[eo]=Aranĝaĵa kromaĵo por Pana kiu subtenas SMBFS-n
Comment[es]=Plugin de dispositivo con soporte SMBFS para Pana
Comment[et]=Panai seadmeplugin SMBFS-i toega
Comment[fa]=وصلۀ دستگاه برای Pana که از SMBFS پشتیبانی می‌کند
Comment[fi]=Pana-liitännäinen, joka tukee SMBFS:ää
Comment[fr]=Plugin de périphérique pour Pana qui supporte SMBFS
Comment[gl]=Extensión de dispositivos que soporten SMBFS para Pana
Comment[hu]=SMBFS-t támogató eszköz-bővítőmodul az Panahoz
Comment[is]=Tækja íforrit fyrir Pana með stuðning við SMBFS
Comment[it]=Plugin di dispositivo per Pana con supporto SMBFS
Comment[ja]=SMBFS をサポートする Pana のためのデバイスプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍​សម្រាប់ Pana ដែល​គាំទ្រ SMBFS
Comment[lt]=Pana įrenginio priedas, palaikantis SMBFS
Comment[mk]=Приклучок за уред за Амарок што поддржува SMBFS
Comment[ms]=Plugmasuk peranti untuk Pana yang menyokong SMBFS
Comment[nb]=Pana programtillegg for enhet som støtter SMBFS
Comment[nds]=Reedschapmoduul för Pana, dat SMBFS ünnerstütt
Comment[ne]=अमारोकका लागि यन्त्र प्लगइन जसले SMBFS समर्थन गर्दछ
Comment[nl]=Apparaatplugin voor Pana met ondersteuning voor SMBFS
Comment[nn]=Einingstillegg for Pana som støttar SMBFS
Comment[pa]=ਅਮਰੋਕ ਲਈ ਜੰਤਰ ਪਲੱਗਇਨ, ਜੋ ਕਿ SMBFS ਲਈ ਸਹਾਇਕ ਹੈ
Comment[pl]=Wtyczka urządzenia dla Panaa obsługująca SMBFS
Comment[pt]=Um 'plugin' de dispositivo para o Pana que suporta o SMBFS
Comment[pt_BR]=Plugin de dispositivo para o Pana, que suporta SMBFS
Comment[se]=Ovttadatlassemoduvla Panaii mii doarju SMBFS
Comment[sk]=Modul zariadenia pre Pana, ktorý podporuje SMBFS
Comment[sr]=Уређајски прикључак за Pana који подржава SMBFS
Comment[sr@Latn]=Uređajski priključak za Pana koji podržava SMBFS
Comment[sv]=Enhetsinsticksprogram för Pana som stöder SMBFS
Comment[th]=โปรแกรมเสริมจัดการอุปกรณ์สำหรับ Pana ที่รองรับการใช้งาน SMBFS
Comment[tr]=Pana için SMBFS destekleyen aygıt eklentisi
Comment[uk]=Втулок пристроїв для Pana, який підтримує SMBFS
Comment[wa]=Tchôke-divins d' éndjin po Pana ki sopoite SMBFS
Comment[zh_CN]=Pana 支持 SMBFS 的设备插件
Comment[zh_TW]=支援 SMBFS 的 pana 裝置插件
ServiceTypes=Pana/Plugin

X-KDE-Library=libpana_smb-device

X-KDE-Pana-authors=Maximilian Kossick
X-KDE-Pana-email=maximilian.kossick@googlemail.com
X-KDE-Pana-framework-version=32
X-KDE-Pana-name=smb-device
X-KDE-Pana-plugintype=device
X-KDE-Pana-rank=100
X-KDE-Pana-version=1
