[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=aKode Engine
Name[af]=aKode Enjin
Name[ar]=محرك aKode
Name[bg]=aKode
Name[bn]=অ্যাকোড ইঞ্জিন
Name[br]=Keflusker aKode
Name[ca]=Motor aKode
Name[cs]=aKode
Name[da]=aKode-motor
Name[de]=aKode
Name[el]=Μηχανή aKode
Name[eo]=aKode Ilo
Name[es]=Motor aKode
Name[et]=aKode mootor
Name[fa]=موتور aKode
Name[fi]=aKode
Name[fr]=Moteur aKode
Name[ga]=Inneall aKode
Name[gl]=Motor aKode
Name[he]=מנוע שמע aKode
Name[hu]=aKode alrendszer
Name[is]=aKode vél
Name[it]=Motore aKode
Name[ja]=aKode エンジン
Name[ka]=aKode ძრავა
Name[km]=ម៉ាស៊ីន aKode
Name[lt]=aKode variklis
Name[mk]=aKode-машина
Name[ms]=Enjin aKode
Name[nb]=aKode-motor
Name[nds]=aKode
Name[ne]=एकोड इन्जिन
Name[nl]=aKode-engine
Name[nn]=aKode-motor
Name[pa]=aKode ਇੰਜਣ
Name[pl]=Wyjście aKode
Name[pt]=Motor aKode
Name[pt_BR]=Mecanismo aKode
Name[ru]=aKode
Name[se]=aKode-mohtor
Name[sl]=Pogon aKode
Name[sq]=Motor aKode
Name[sr]=Мотор aKode
Name[sr@Latn]=Motor aKode
Name[ss]=Motor aKode
Name[sv]=aKode-gränssnitt
Name[ta]=aKode என்ஜின்
Name[tg]=Муҳаррики aKode
Name[tr]=aKode Motoru
Name[uk]=Рушій aKode
Name[uz]=aKode tizimi
Name[uz@cyrillic]=aKode тизими
Name[wa]=Éndjin aKode
Name[zh_CN]=aKode 引擎
Name[zh_TW]=aKode 解碼引擎
ServiceTypes=Pana/Plugin
X-KDE-Library=libpana_aKode-engine
Comment=aKode audio-engine for Pana
Comment[af]=aKode oudio enjin vir Pana
Comment[ar]=محرك صوتي aKode ل- Pana
Comment[bg]=Аудио система aKode за Pana
Comment[bn]=আমারক-এর জন্য অ্যাকোড অডিও ইঞ্জিন
Comment[br]=Keflusker klevet aKode evit Pana
Comment[ca]=Motor de so aKode per l'Pana
Comment[cs]=Zvukový modul aKode pro Pana
Comment[da]=aKode lyd-motor for Pana
Comment[de]=aKode-Ausgabe-Modul für Pana
Comment[el]=Μηχανή ήχου aKode για το Pana
Comment[eo]=aKode aŭdmotoro por Pana
Comment[es]=Motor de audio aKode para Pana
Comment[et]=Panai aKode audiomootor
Comment[fa]=موتور صوتی aKode برای Pana
Comment[fi]=aKode-toistojärjestelmä Pana-liitännäinen
Comment[fr]=Moteur audio aKode pour Pana
Comment[ga]=Inneall fuaime aKode le haghaidh Pana
Comment[gl]=Motor de áudio aKode para Pana
Comment[hu]=aKode hang-alrendszer az Panahoz
Comment[is]=aKode hljóðvél fyrir Pana
Comment[it]=motore audio aKode per Pana
Comment[ja]=Pana のための aKode オーディオエンジン
Comment[ka]=aKode აუდიო ძრავი Pana-ისთვის
Comment[km]=ម៉ាស៊ីន​អូឌីយ៉ូ aKode សម្រាប់ Pana
Comment[lt]=Pana skirtas aKode audio variklis
Comment[mk]=aKode аудио-машина за Амарок
Comment[ms]=Enjin-audio aKode untuk Pana
Comment[nb]=aKode lydmotor for Pana
Comment[nds]=aKode-Klangmaschien för Pana
Comment[ne]=अमारोकका लागि एकोड अडियो इन्जिन
Comment[nl]=aKode audio-engine voor Pana
Comment[nn]=aKode lydmotor for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ aKode ਆਡੀਓ-ਇੰਜਣ
Comment[pl]=Wtyczka wyjścia audio aKode dla Panaa
Comment[pt]=Motor de áudio do aKode para o Pana
Comment[pt_BR]=Mecanismo de áudio aKode para o Pana
Comment[ru]=Модуль вывода aKode для Pana
Comment[se]=aKode jietnamohtor Pana:ii
Comment[sk]=aKode audio-engine pre Pana
Comment[sr]=Аудио мотор aKode за Pana
Comment[sr@Latn]=Audio motor aKode za Pana
Comment[sv]=aKode ljudgränssnitt för Pana
Comment[th]=โปรแกรมประมวลผลเสียง aKode สำหรับ Pana
Comment[tr]=Pana için aKode ses-motoru eklentisi
Comment[uk]=Аудіо-рушій aKode для Pana
Comment[uz]=Pana uchun aKode audio-tizimi
Comment[uz@cyrillic]=Pana учун aKode аудио-тизими
Comment[wa]=Éndjin d' son aKode po-z Pana
Comment[zh_CN]=Pana 的 aKode 音频引擎
Comment[zh_TW]=Pana 的 aKode 解碼引擎

X-KDE-Pana-plugintype=engine
X-KDE-Pana-name=akode-engine
X-KDE-Pana-authors=Allan Sandfeld, Max Howell
X-KDE-Pana-email=kde@carewolf.com
X-KDE-Pana-rank=0
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32

