[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MAS Engine
Name[af]=MAS Enjin
Name[ar]=محرك MAS
Name[bg]=MAS
Name[bn]=এম-এ-এস ইঞ্জিন
Name[br]=Keflusker MAS
Name[ca]=Motor MAS
Name[cs]=MAS systém
Name[da]=MAS-motor
Name[de]=MAS
Name[el]=Μηχανή MAS
Name[eo]=MAS Ilo
Name[es]=Motor MAS
Name[et]=MAS mootor
Name[eu]=MAS motorea
Name[fa]=موتور MAS
Name[fi]=MAS
Name[fr]=Moteur MAS
Name[ga]=Inneall MAS
Name[gl]=Motor MAS
Name[he]=מנוע שמע MAS
Name[hi]=एमएएस इंजिन
Name[hu]=MAS alrendszer
Name[is]=MAS vél
Name[it]=Motore MAS
Name[ja]=MAS エンジン
Name[ka]=MAS dრავა
Name[km]=ម៉ាស៊ីន MAS
Name[lt]=MAS variklis
Name[mk]=MAS-машина
Name[ms]=Enjin MAS
Name[nb]=MAS-motor
Name[nds]=MAS
Name[ne]=मास इन्जिन
Name[nn]=MAS-motor
Name[pa]=MAS ਇੰਜਣ
Name[pl]=Wyjście MAS
Name[pt]=Motor MAS
Name[pt_BR]=Mecanismo MAS
Name[ru]=MAS
Name[se]=MAS-mohtor
Name[sl]=Pogon MAS
Name[sq]=Motor MAS
Name[sr]=Мотор MAS
Name[sr@Latn]=Motor MAS
Name[ss]=Motor MAS
Name[sv]=MAS-gränssnitt
Name[ta]=MAS என்ஜின்
Name[tg]=Муҳаррики MAS
Name[tr]=MAS Motoru
Name[uk]=Рушій MAS
Name[uz]=MAS tizimi
Name[uz@cyrillic]=MAS тизими
Name[wa]=Éndjin MAS
Name[zh_CN]=MAS 引擎
Name[zh_TW]=MAS 解碼引擎
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件

ServiceTypes=Pana/Plugin
X-KDE-Library=libpana_masengine_plugin
X-KDE-Pana-name=MAS Engine
X-KDE-Pana-plugintype=engine
X-KDE-Pana-authors=Roland Gigler
X-KDE-Pana-email=rolandg@web.de
X-KDE-Pana-rank=0
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32

