[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=xine Engine
Name[af]=XINE enjin
Name[ar]=محرك xine
Name[bg]=Xine
Name[bn]=জাইন ইঞ্জিন
Name[br]=Keflusker xine
Name[ca]=Motor xine
Name[cs]=xine
Name[da]=xine-motor
Name[de]=xine
Name[el]=Μηχανή xine
Name[eo]=xine Ilo
Name[es]=Motor xine
Name[et]=xine mootor
Name[eu]=xine motorea
Name[fa]=موتور xine
Name[fi]=xine
Name[fr]=Moteur xine
Name[ga]=Inneall xine
Name[gl]=Motor Xine
Name[he]=מנוע שמע xine
Name[hi]=एक्जाइन इंजिन
Name[hu]=Xine alrendszer
Name[is]=xine vél
Name[it]=Motore xine
Name[ja]=xine エンジン
Name[ka]=xine dრავა
Name[km]=ម៉ាស៊ីន xine
Name[lt]=Xine variklis
Name[mk]=xine-машина
Name[ms]=Enjin xine
Name[nb]=xine-motor
Name[nds]=Xine
Name[ne]=जाइन इन्जिन
Name[nl]=xine-engine
Name[nn]=xine-motor
Name[pa]=xine ਇੰਜਣ
Name[pl]=Wyjście xine
Name[pt]=Motor Xine
Name[pt_BR]=Mecanismo Xine
Name[ru]=Xine
Name[se]=xine-mohtor
Name[sl]=Pogon xine
Name[sq]=Motor Xine
Name[sr]=Мотор Xine
Name[sr@Latn]=Motor Xine
Name[ss]=Motor Xine
Name[sv]=Xine-gränssnitt
Name[ta]=xine என்ஜின்
Name[tg]=Муҳаррики xine
Name[tr]=xine Motoru
Name[uk]=Рушій xine
Name[uz]=xine tizimi
Name[uz@cyrillic]=xine тизими
Name[wa]=Éndjin xine
Name[zh_CN]=xine 引擎
Name[zh_TW]=xine 解碼引擎
X-KDE-Library=libpana_xine-engine
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=engine
X-KDE-Pana-name=xine-engine
X-KDE-Pana-authors=Max Howell
X-KDE-Pana-email=max.howell@methylblue.com
X-KDE-Pana-rank=255
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32


