[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=yauap engine
Name[af]=yauap enjin
Name[bg]=Yauap
Name[bn]=yauap ইঞ্জিন
Name[ca]=Motor yauap
Name[cs]=yauap
Name[da]=Yauap-grænseflade
Name[de]=Yauap
Name[el]=μηχανή yauap
Name[eo]=yauap ilo
Name[es]=motor yauap
Name[et]=yauap mootor
Name[fa]=موتور yauap
Name[fi]=yauap
Name[fr]=Moteur yauap
Name[ga]=inneall yauap
Name[hu]=Yauap alrendszer
Name[is]=yauap vél
Name[it]=Motore yauap
Name[ja]=yauap エンジン
Name[ka]=yauap ძრავი
Name[km]=ម៉ាស៊ីន yauap
Name[lt]=yauap variklis
Name[mk]=yauap-машина
Name[ms]=Enjin yauap
Name[nb]=yauap-motor
Name[nds]=Yauap
Name[ne]=yauap इन्जिन
Name[nl]=yauap-engine
Name[nn]=yauap-motor
Name[pa]=yauap ਇੰਜਣ
Name[pl]=moduł yauap
Name[pt]=Motor yauap
Name[pt_BR]=Mecanismo Yauap
Name[se]=yauap-mohtor
Name[sr]=Мотора yauap
Name[sr@Latn]=Motora yauap
Name[sv]=Yauap-gränssnitt
Name[tr]=yauap motoru
Name[uk]=Рушій yauap
Name[uz]=yauap tizimi
Name[uz@cyrillic]=yauap тизими
Name[wa]=Éndjin yauap
Name[zh_CN]=yauap 引擎
Name[zh_TW]=yauap 引擎
X-KDE-Library=libpana_yauap-engine_plugin
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=engine
X-KDE-Pana-name=yauap-engine
X-KDE-Pana-authors=Sascha Sommer
X-KDE-Pana-email=ssommer@suse.de
X-KDE-Pana-rank=1
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32


