[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=<no engine>
Name[af]=<geen enjin>
Name[ar]= <ليس هناك محرك صوتي >
Name[bg]=<без система>
Name[bn]=<কোনও ইঞ্জিন নয়>
Name[br]=<keflusker ebet>
Name[ca]=<sense motor>
Name[cs]=<žádný systém>
Name[da]=<ingen motor>
Name[de]=Keine Audio-Ausgabe
Name[el]=<χωρίς μηχανή>
Name[eo]=<neniu ilo>
Name[et]=<mootor puudub>
Name[eu]=<motorerik ez>
Name[fa]=<بدون موتور>
Name[fi]=<ei järjestelmää>
Name[fr]=<aucun moteur>
Name[ga]=<gan inneall>
Name[gl]=<sen motor>
Name[he]=<ללא מנוע שמע>
Name[hi]=<कोई इंजिन नहीं>
Name[hu]=<nincs alrendszer>
Name[is]=<engin vél>
Name[it]=<nessun motore>
Name[ja]=<エンジンなし>
Name[ka]=<ძრავის გარეშე>
Name[km]=<គ្មាន​ម៉ាស៊ីន>
Name[lt]=<nėra>
Name[mk]=<нема машина>
Name[mn]=<нема машина>
Name[ms]=<tiada enjin>
Name[nb]=<ingen motor>
Name[nds]=<keen>
Name[nl]=<geen engine>
Name[nn]=<ingen motor>
Name[pl]=<brak wyjścia>
Name[pt]=<sem motor>
Name[pt_BR]=<nenhum mecanismo>
Name[ru]=<нет>
Name[se]=<ii makkárge mohtor>
Name[sk]=<žiadny engine>
Name[sl]=<brez pogona>
Name[sq]=<nema motora>
Name[sr]=<нема мотора>
Name[sr@Latn]=<nema motora>
Name[ss]=<nema motora>
Name[sv]=<inget gränssnitt>
Name[th]=<ไม่มีโปรแกรมประมวลผลเสียง>
Name[tr]=<motor yok>
Name[uk]=<немає рушія>
Name[uz]=<yoʻq>
Name[uz@cyrillic]=<йўқ>
Name[zh_CN]=<无引擎>
Name[zh_TW]=<不使用解碼引擎>
X-KDE-Library=libpana_void-engine_plugin
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=engine
X-KDE-Pana-name=void-engine
X-KDE-Pana-authors=Max Howell,Mark Kretschmann
X-KDE-Pana-email=max.howell@methylblue.com
X-KDE-Pana-rank=1
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32


