[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NMM Engine
Name[af]=NMM Enjin
Name[ar]=محرك NMM
Name[bg]=NMM
Name[bn]=এনএমএম ইঞ্জিন
Name[br]=Keflusker NMM
Name[ca]=Motor NMM
Name[cs]=NMM
Name[da]=NMM-motor
Name[de]=NMM
Name[el]=Μηχανή NMM
Name[eo]=NMM Ilo
Name[es]=Motor NMM
Name[et]=NMM mootor
Name[eu]=NMM motorea
Name[fa]=موتور NMM
Name[fi]=NMM
Name[fr]=Moteur NMM
Name[ga]=Inneall NMM
Name[gl]=Motor NMM
Name[he]=מנוע שמע NMM
Name[hi]=एनएमएम इंजिन
Name[hu]=NMM alrendszer
Name[is]=NMM vél
Name[it]=Motore NMM
Name[ja]=NMM エンジン
Name[ka]=NMM dრავა
Name[km]=ម៉ាស៊ីន NMM
Name[lt]=NMM variklis
Name[mk]=NMM-машина
Name[ms]=Enjin NMM
Name[nb]=NMM-motor
Name[nds]=NMM
Name[ne]=NMM इन्जिन
Name[nn]=NMM-motor
Name[pa]=NMM ਇੰਜਣ
Name[pl]=Wyjście NMM
Name[pt]=Motor NMM
Name[pt_BR]=Mecanismo NMM
Name[ru]=NMM
Name[se]=NMM-mohtor
Name[sl]=Pogon NMM
Name[sq]=Motor NMM
Name[sr]=Мотор NMM
Name[sr@Latn]=Motor NMM
Name[ss]=Motor NMM
Name[sv]=NMM-gränssnitt
Name[ta]=NMM பொறி
Name[tg]=Муҳаррики NMM
Name[tr]=NMM Motoru
Name[uk]=Рушій NMM
Name[uz]=NMM tizimi
Name[uz@cyrillic]=NMM тизими
Name[wa]=Éndjin NMM
Name[zh_CN]=NMM 引擎
Name[zh_TW]=NMM 解碼引擎
X-KDE-Library=libpana_nmmengine_plugin
Comment=Pana plugin
Comment[af]=Pana inprop module
Comment[ar]=قابس ( برنامج مضاف الى ) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক প্লাগিন
Comment[br]=Lugent Pana
Comment[ca]=Connector de l'Pana
Comment[cs]=Pana modul
Comment[da]=Plugin for Pana
Comment[de]=Pana-Modul
Comment[el]=Πρόσθετο Pana
Comment[eo]=Pana kromaĵo
Comment[es]=Extensión de Pana
Comment[et]=Panai plugin
Comment[fa]=وصلۀ Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Pana-bővítőmodul
Comment[is]=Pana íforrit
Comment[it]=Plugin di Pana
Comment[ja]=Pana プラグイン
Comment[ka]=Pana მოდული
Comment[km]=កម្មវិធី​ជំនួយ Pana
Comment[lt]=Pana priedas
Comment[mk]=Приклучок за Амарок
Comment[ms]=Plugin Pana
Comment[nb]=Programtillegg for Pana
Comment[nds]=Pana-Moduul
Comment[ne]=अमारोक प्लगइन
Comment[nl]=Pana-plugin
Comment[nn]=Pana-tillegg
Comment[pa]=ਅਮਰੋਕ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin do Pana
Comment[ru]=Модуль Pana
Comment[se]=Pana-lassemoduvla
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมของ Pana
Comment[tr]=Pana eklentisi
Comment[uk]=Втулок Pana
Comment[uz]=Pana plagini
Comment[uz@cyrillic]=Pana плагини
Comment[wa]=Tchôke-divins Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=engine
X-KDE-Pana-name=nmm-engine
X-KDE-Pana-authors=NMM work group http://www.networkmultimedia.org
X-KDE-Pana-email=nmm-dev@graphics.cs.uni-sb.de
X-KDE-Pana-rank=50
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32


