[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Rio Karma Media Device
Name[af]=Rio Karma media toestel
Name[bg]=Устройство Rio Karma
Name[bn]=রিও কর্মা মিডিয়া ডিভাইস
Name[ca]=Dispositiu de suports Rio Karma
Name[cs]=Mediální zařízení Rio Karma
Name[da]=Rio Karma-medieenhed
Name[de]=Rio Karma Media-Player
Name[el]=Συσκευή πολυμέσων Rio Karma
Name[eo]=Rio Karma Media Ekipaĵo
Name[es]=Dispositivo Rio Karma
Name[et]=Rio Karma meediaseade
Name[fa]=دستگاه رسانۀ Rio Karma
Name[fi]=Rio Karma -medialaite
Name[fr]=Périphérique de média Rio Karma
Name[ga]=Gléas Meán Rio Karma
Name[hu]=Rio Karma médiaeszköz
Name[is]=Rio Karma
Name[it]=Dispositivo multimediale Rio Karma
Name[ja]=Rio Karma メディアデバイス
Name[ka]=Rio Karma მედია მოწყობილობა
Name[km]=ឧបករណ៍​មេឌៀ Rio Karma
Name[lt]=Rio Karma daugialypės terpės įrenginys
Name[mk]=Уред за мултимедија Rio Karma
Name[ms]=Peranti Media Rio Karma
Name[nb]=Rio Karma medieenhet
Name[nds]=Medienreedschap Rio Karma
Name[ne]=रियो कर्म मिडिया यन्त्र
Name[nl]=Rio Karma media-apparaat
Name[nn]=Rio Karma-medieeining
Name[pa]=Rio ਕਰਮਾ ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów Rio Karma
Name[pt]=Dispositivo Multimédia Rio Karma
Name[pt_BR]=Dispositivo de Mídia Rio Karma
Name[se]=Rio Karma-mediaovttadat
Name[sk]=Rio Karma Media zariadenie
Name[sr]=Rio Karma, мултимедијални уређај
Name[sr@Latn]=Rio Karma, multimedijalni uređaj
Name[sv]=Rio Karma-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ Rio Karma
Name[tr]=Rio Karma Ortam Aygıtı
Name[uk]=Пристрій носія Rio Karma
Name[uz]=Rio Karma media-uskunasi
Name[uz@cyrillic]=Rio Karma медиа-ускунаси
Name[wa]=Édjin d' media Rio Karma
Name[zh_CN]=Rio Karma 媒体设备
Name[zh_TW]=Rio Karma 媒體裝置
X-KDE-Library=libpana_riokarma-mediadevice
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=mediadevice
X-KDE-Pana-name=riokarma-mediadevice
X-KDE-Pana-authors=Andy Kelk
X-KDE-Pana-email=andy@mopoke.co.uk
X-KDE-Pana-rank=100
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32
