[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Mass Storage Device
Name[af]=Massa Stoor Toestel
Name[ar]=جهاز حفظ ذو الذاكرة الضخمة
Name[bg]=Устройство за съхранение
Name[bn]=মাস স্টোরেজ ডিভাইস
Name[ca]=Dispositiu d'emmagatzemament massiu
Name[cs]=Souborové mediální zařízení
Name[da]=Masseopbevaringsenhed
Name[de]=Wechsellaufwerk
Name[el]=Συσκευή μαζικής αποθήκευσης
Name[eo]=Amasmemora Ekipaĵo
Name[es]=Dispositivo de almacenamiento masivo
Name[et]=Mass-salvestusseade
Name[fa]=دستگاه ذخیره‌گاه حجم
Name[fi]=Massamuistilaite
Name[fr]=Périphérique de stockage
Name[gl]=Dispositivo de Armacenaxe
Name[hu]=Tárolóeszköz
Name[is]=Harðir diskar o.þ.h
Name[it]=Dispositivo di memorizzazione di massa
Name[ja]=マスストレージデバイス
Name[ka]=არქივის შესანახი მოწყობილობა
Name[km]=ឧបករណ៍​ផ្ទុក​ធំ
Name[lt]=Duomenų saugojimo įrenginys
Name[mk]=Уред за складирање податоци
Name[nb]=Masselagerenhet
Name[nds]=Bültspieker-Reedschap
Name[ne]=बृहत भण्डारण यन्त्र
Name[nl]=Massa-opslag-apparaat
Name[nn]=Masselagringseining
Name[pa]=ਵੱਡਾ ਸਟੋਰੇਜ਼ ਜੰਤਰ
Name[pl]=Urządzenie przechowywania danych
Name[pt]=Dispositivo Multimédia com Armazenamento
Name[pt_BR]=Dispositivo de Armazenamento em Massa
Name[se]=Vurkenovttadat
Name[sk]=Zariadenie na masové ukladanie
Name[sr]=Уређај за масовно складиштење
Name[sr@Latn]=Uređaj za masovno skladištenje
Name[sv]=Masslagringsenhet
Name[th]=อุปกรณ์สื่อบันทึกข้อมูล
Name[tr]=Yığın Depolama Aygıtı
Name[uk]=Пристрій масового накопичувача
Name[uz]=Saqlash uskunasi
Name[uz@cyrillic]=Сақлаш ускунаси
Name[wa]=Éndjin d' wårdaedje di masse
Name[zh_CN]=大容量存储设备
Name[zh_TW]=大型儲存裝置
Comment=Device plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за устройство за Pana
Comment[bn]=আমারক-এর জন্য ডিভাইস প্লাগিন
Comment[ca]=Connector de dispositiu per a l'Pana
Comment[cs]=Modul zařízení pro Pana
Comment[da]=Enheds-plugin for Pana
Comment[de]=Geräte-Modul für Pana
Comment[el]=Πρόσθετο συσκευής για το Pana
Comment[eo]=Ekipaĵa kromaĵo por Pana
Comment[es]=Plugin de dispositivos para Pana
Comment[et]=Panai seadmeplugin
Comment[fa]=وصلۀ دستگاه برای Pana
Comment[fi]=Pana-laiteliitännäinen
Comment[fr]=Plugin de périphérique pour Pana
Comment[ga]=Breiseán gléis le haghaidh Pana
Comment[gl]=Extensión de dispositivos para Pana
Comment[hu]=Eszköz-bővítőmodul az Panahoz
Comment[is]=Tækja íforrit fyrir Pana
Comment[it]=Plugin di dispositivo per Pana
Comment[ja]=Pana のためのデバイスプラグイン
Comment[ka]=მოწყობილობის ძრავი Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍​សម្រាប់ Pana
Comment[lt]=Pana įrenginio priedas
Comment[mk]=Приклучок за уред за Амарок
Comment[ms]=Plugin peranti untuk Pana
Comment[nb]=Pana programtillegg for masselagerenhet
Comment[nds]=Reedschapmoduul för Pana
Comment[ne]=अमारोकका लागि यन्त्र प्लगइन
Comment[nl]=Apparaatplugin voor Pana
Comment[nn]=Einingstillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਜੰਤਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka urządzenia dla Panaa
Comment[pt]='Plugin' de dispositivo para o Pana
Comment[pt_BR]=Plugin de dispositivo para o Pana
Comment[se]=Ovttadatlassemoduvla Pana:ii
Comment[sk]=Modul zariadenia pre Pana
Comment[sr]=Уређајски прикључак за Pana
Comment[sr@Latn]=Uređajski priključak za Pana
Comment[sv]=Enhetsinsticksprogram för Pana
Comment[th]=โปรแกรมเสริมจัดการอุปกรณ์สำหรับ Pana
Comment[tr]=Pana için aygıt eklentisi
Comment[uk]=Втулок пристроїв для Pana
Comment[uz]=Pana uchun uskuna plagini
Comment[uz@cyrillic]=Pana учун ускуна плагини
Comment[wa]=Tchôke-divins d' éndjin po Pana
Comment[zh_CN]=Pana 的设备插件
Comment[zh_TW]=Pana 裝置插件
ServiceTypes=Pana/Plugin

X-KDE-Library=libpana_massstorage-device

X-KDE-Pana-authors=Maximilian Kossick
X-KDE-Pana-email=maximilian.kossick@googlemail.com
X-KDE-Pana-framework-version=32
X-KDE-Pana-name=massstorage-device
X-KDE-Pana-plugintype=device
X-KDE-Pana-rank=100
X-KDE-Pana-version=1
