[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Music Sharing
Name[af]=Musiek Deel
Name[ar]=تبادل مشترك للموسيقة
Name[bg]=Споделяне на музика
Name[bn]=সঙ্গীত বিনিময়
Name[ca]=Música compartida
Name[cs]=Sdílení hudby
Name[da]=Musikdeling
Name[de]=Musikfreigabe
Name[el]=Κοινή χρήση μουσικής
Name[eo]=Muziko Fordonado
Name[es]=Cliente DAAP
Name[et]=Muusika jagamine
Name[fa]=اشتراک موسیقی
Name[fi]=Musiikinjako
Name[fr]=Musique partagée
Name[gl]=Compartir Música
Name[hu]=Zenemegosztás
Name[is]=Tónlistardeiling
Name[it]=Condivisione musica
Name[ja]=音楽共有
Name[ka]=მუსიკის გაზიარება
Name[km]=ការ​ចែករំលែក​តន្ត្រី
Name[lt]=Dalinimasis muzika
Name[mk]=Споделување музика
Name[ms]=Perkongsian Muzik
Name[nb]=Musikkdeling
Name[nds]=Musikfreegaav
Name[ne]=सङ्गीत साझेदारी
Name[nl]=Muziek delen
Name[nn]=Musikkdeling
Name[pa]=ਸੰਗੀਤ ਸਾਂਝ
Name[pl]=Dzielenie się muzyką
Name[pt]=Partilha de Músicas
Name[pt_BR]=Compartilhamento de Música
Name[se]=Musihkkajuogadeapmi
Name[sk]=Zdieľanie hudby
Name[sr]=Дељење музике
Name[sr@Latn]=Deljenje muzike
Name[sv]=Musikdelning
Name[th]=แบ่งปันดนตรี
Name[tr]=Müzik Paylaşımı
Name[uk]=Спільна музика
Name[uz]=Musiqani boshqalar bilan boʻlishish
Name[uz@cyrillic]=Мусиқани бошқалар билан бўлишиш
Name[wa]=Pårtaedjî l' muzike
Name[zh_CN]=音乐共享
Name[zh_TW]=音樂分享
X-KDE-Library=libpana_daap-mediadevice
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Pana plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Pana
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Pana
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=mediadevice
X-KDE-Pana-name=daap-mediadevice
X-KDE-Pana-authors=Ian Monroe
X-KDE-Pana-email=ian@monroe.nu
X-KDE-Pana-rank=100
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32
