[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Creative Nomad Jukebox Media Device
Name[af]=Creative Nomad Jukebox media toestel
Name[ar]=جهاز اخراج وسائط Creative Nomad Jukebox
Name[bg]=Устройство Creative Nomad Jukebox
Name[bn]=ক্রিয়েটিভ নোমাড জুকবক্স মিডিয়া ডিভাইস
Name[ca]=Dispositiu de suports Creative Nomad Jukebox
Name[cs]=Mediální zařízení Creative Nomad Jukebox
Name[da]=Creative Nomad Jukebox-medieenhed
Name[de]=Creative Nomad Jukebox
Name[el]=Συσκευή πολυμέσων Creative Nomad Jukebox
Name[eo]=Creative Nomad Jukebox Media Ekipaĵo
Name[es]=Dispositivo de medios VFAT genérico
Name[et]=Creative Nomad Jukebox meediaseade
Name[fa]=دستگاه رسانۀ Creative Nomad Jukebox
Name[fi]=Creative Nomad Jukebox -medialaite
Name[fr]=Périphérique Creative Nomad Jukebox
Name[gl]=Dispositivo Multimedio Creative Nomad Jukebox
Name[hu]=Creative Nomad Jukebox médiaeszköz
Name[is]=Creative Nomad Jukebox
Name[it]=Dispositivo multimediale Creative Nomad Jukebox
Name[ja]=Creative Nomad Jukebox メディアデバイス
Name[ka]=Creative Nomad Jukebox მედია მოწყობილობა
Name[km]=ឧបករណ៍​មេឌៀ Nomad Jukebox របស់ Creative
Name[lt]=Creative Nomad Jukebox daugialypės terpės įrenginys
Name[mk]=Уред за мултимедија Creative Nomad Jukebox
Name[nb]=Creative Nomad Jukebox medieenhet
Name[nds]=Creative-Medienreedschap Nomad Jukebox
Name[ne]=सिर्जानात्मक नोम्याड जुकेबक्स मिडिया यन्त्र
Name[nl]=Creative Nomad Jukebox media-apparaat
Name[nn]=Creative Nomad Jukebox-medieeining
Name[pa]=ਕਰੀਏਟਵ ਨੋਮਡ ਜੂਕਬਕਸ ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów Creative Nomad Jukebox
Name[pt]=Dispositivo Multimédia Creative Nomad Jukebox
Name[pt_BR]=Dispositivo de Mídia Creative Nomad Jukebox
Name[ru]=Creative Nomad Jukebox
Name[se]=Creative Nomad Jukebox-mediaovttadat
Name[sk]=Creative Nomad Jukebox Media zariadenie
Name[sr]=Creative-ов мултимедијални уређај Nomad Jukebox
Name[sr@Latn]=Creative-ov multimedijalni uređaj Nomad Jukebox
Name[sv]=Creative Nomad Jukebox-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ Creative Nomad Jukebox
Name[tr]=Creative Nomad Jukebox Ortam Aygıtı
Name[uk]=Пристрій носія Nomad Jukebox
Name[uz]=Creative Nomad Jukebox media-uskunasi
Name[uz@cyrillic]=Creative Nomad Jukebox медиа-ускунаси
Name[wa]=Édjin d' media Creative Nomad Jukebox
Name[zh_CN]=Creative Nomad Jukebox 媒体设备
Name[zh_TW]=Creative Nomad Jukebox 媒體裝置
X-KDE-Library=libpana_njb-mediadevice
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin
X-KDE-Pana-plugintype=mediadevice
X-KDE-Pana-name=njb-mediadevice
X-KDE-Pana-authors=Andres Oton, T.R.Shashwath
X-KDE-Pana-email=andres.oton@gmail.com, trshash84@gmail.com
X-KDE-Pana-rank=100
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32
