[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Helix Engine
Name[af]=Helix Enjin
Name[ar]=محرك Helix 
Name[bg]=Helix
Name[bn]=হেলিক্স ইঞ্জিন
Name[br]=Keflusker Helix
Name[ca]=Motor Helix
Name[da]=Helix motor
Name[de]=Helix
Name[el]=Μηχανή Helix
Name[eo]=Helix Ilo
Name[es]=Motor Helix
Name[et]=Helixi mootor
Name[eu]=Helix motorea
Name[fa]=موتور Helix
Name[fi]=Helix
Name[fr]=Moteur Helix
Name[ga]=Inneall Helix
Name[gl]=Motor Helix
Name[he]=מנוע שמע Helix
Name[hu]=Helix alrendszer
Name[is]=Helix vél
Name[it]=Motore Helix
Name[ja]=Helix エンジン
Name[ka]=Helix dრავა
Name[km]=ម៉ាស៊ីន Helix
Name[lt]=Helix variklis
Name[mk]=Helix-машина
Name[ms]=Enjin Helix
Name[nb]=Helix-motor
Name[nds]=Helix
Name[ne]=हेलिक्स इन्जिन
Name[nl]=Helix-engine
Name[nn]=Helix-motor
Name[pa]=ਹੀਲਿਕਸ ਇੰਜਣ
Name[pl]=Wyjście Helix
Name[pt]=Motor Helix
Name[pt_BR]=Mecanismo Helix
Name[ru]=Helix
Name[se]=Helix-mohtor
Name[sq]=Motor Helix
Name[sr]=Мотор Helix
Name[sr@Latn]=Motor Helix
Name[ss]=Motor Helix
Name[sv]=Helix-gränssnitt
Name[tg]=Муҳаррики Helix
Name[tr]=Helix Motoru
Name[uk]=Рушій Helix
Name[uz]=Helix tizimi
Name[uz@cyrillic]=Helix тизими
Name[wa]=Éndjin Helix
Name[zh_CN]=Helix 引擎
Name[zh_TW]=Helix 解碼引擎
X-KDE-Library=libpana_helixengine_plugin
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件
ServiceTypes=Pana/Plugin

X-KDE-Pana-plugintype=engine
X-KDE-Pana-name=helix-engine
X-KDE-Pana-authors=Paul Cifarelli
X-KDE-Pana-email=paul@cifarelli.net
X-KDE-Pana-rank=75
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32



