[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDEMM Engine
Name[af]=KDEMM Enjin
Name[ar]=محرك KDEMM
Name[bg]=KDEMM
Name[bn]=কেডিই-এমএম ইঞ্জিন
Name[br]=Keflusker KDEMM
Name[ca]=Motor KDEMM
Name[cs]=KDEMM systém
Name[da]=KDEMM-motor
Name[de]=KDEMM
Name[el]=Μηχανή KDEMM
Name[eo]=KDEMM Ilo
Name[es]=Motor KDEMM
Name[et]=KDEMM mootor
Name[eu]=KDEMM motorea
Name[fa]=موتور KDEMM
Name[fi]=KDEMM
Name[fr]=Moteur KDEMM
Name[ga]=Inneall KDEMM
Name[gl]=Motor KDEMM
Name[he]=מנוע שמע KDEMM
Name[hi]=केडीईएमएम इंजिन
Name[hu]=KDEMM alrendszer
Name[is]=KDEMM vél
Name[it]=Motore KDEMM
Name[ja]=KDEMM エンジン
Name[ka]=KDEMM dრავა
Name[km]=ម៉ាស៊ីន KDEMM
Name[lt]=KDEMM variklis
Name[mk]=KDEMM-машина
Name[ms]=Enjin KDEMM
Name[nb]=KDEMM-motor
Name[nds]=KDEMM
Name[ne]=KDEMM इन्जिन
Name[nn]=KDEMM-motor
Name[pa]=KDEMM ਇੰਜਣ
Name[pl]=Wyjście KDEMM
Name[pt]=Motor KDEMM
Name[pt_BR]=Mecanismo KDEMM
Name[ru]=KDEMM
Name[se]=KDEMM-mohtor
Name[sl]=Pogon KDEMM
Name[sq]=Motor KDEMM
Name[sr]=Мотор KDEMM
Name[sr@Latn]=Motor KDEMM
Name[ss]=Motor KDEMM
Name[sv]=KDEMM-gränssnitt
Name[ta]=KDEMM என்ஜின்
Name[tg]=Муҳаррики KDEMM
Name[tr]=KDEMM Motoru
Name[uk]=Рушій KDEMM
Name[uz]=KDEMM tizimi
Name[uz@cyrillic]=KDEMM тизими
Name[wa]=Éndjin KDEMM
Name[zh_CN]=KDEMM 引擎
Name[zh_TW]=KDEMM 引擎
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) Pana
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro Pana
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το Pana
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای Pana
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán Pana
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль Pana
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=Pana 插件

ServiceTypes=Pana/Plugin
X-KDE-Library=libpana_kdemmengine_plugin
X-KDE-Pana-name=KDEMM Engine
X-KDE-Pana-plugintype=engine
X-KDE-Pana-authors=Roland Gigler
X-KDE-Pana-email=rolandg@web.de
X-KDE-Pana-rank=0
X-KDE-Pana-version=1
X-KDE-Pana-framework-version=32

