[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Pana/Plugin
Comment=Plugin for Pana
Comment[af]=Inprop module vir Pana
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Pana
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Pana
Comment[ca]=Connector per l'Pana
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Pana
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Pana
Comment[es]=Extensión para Pana
Comment[et]=Panai plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Pana-liitännäinen
Comment[fr]=Module pour Pana
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Pana
Comment[hu]=Bővítőmodul az Panahoz
Comment[is]=Íforrit fyrir Pana
Comment[it]=Plugin per Pana
Comment[ja]=Pana のためのプラグイン
Comment[ka]=მოდული Pana-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Pana
Comment[lt]=Pana įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Pana
Comment[nds]=Moduul för Pana
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Pana
Comment[nn]=Programtillegg for Pana
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Panaa
Comment[pt]='Plugin' para o Pana
Comment[pt_BR]=Plugin para o Pana
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Pana:ii
Comment[sk]=Pana modul
Comment[sr]=Прикључак за Pana
Comment[sr@Latn]=Priključak za Pana
Comment[sv]=Insticksprogram för Pana
Comment[th]=โปรแกรมเสริมสำหรับ Pana
Comment[tr]=Pana için Eklenti
Comment[uk]=Втулок для Pana
Comment[uz]=Pana uchun plagin
Comment[uz@cyrillic]=Pana учун плагин
Comment[wa]=Tchôke-divins po Pana
Comment[zh_CN]=Pana 插件
Comment[zh_TW]=amaroK 插件

# Type of plugin, e.g. "engine".
[PropertyDef::X-KDE-Pana-plugintype]
Type=QString

# Internal name for identification, not translated.
[PropertyDef::X-KDE-Pana-name]
Type=QString

# List of authors.
[PropertyDef::X-KDE-Pana-authors]
Type=QStringList

# List of author's email addresses.
[PropertyDef::X-KDE-Pana-email]
Type=QStringList

# Priority of the plugin. When KTrader returns multiple offers, the one with the highest rank is chosen.
# Range: 0 (disabled) - 255 (highest)
[PropertyDef::X-KDE-Pana-rank]
Type=int

# Version of the plugin.
[PropertyDef::X-KDE-Pana-version]
Type=int

# Version of the framework this plugin is compatible with.
# Must be bumped after making binary incompatible changes.
[PropertyDef::X-KDE-Pana-framework-version]
Type=int

# If true, Pana will show a warning dialog about the experimental nature of this plugin.
[PropertyDef::X-KDE-Pana-experimental]
Type=bool

