[Desktop Entry]
ServiceTypes=media/audiocd
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play Audio CD with Pana
Name[af]=Speel oudio CD met Pana
Name[bg]=Изпълнение на компактдиск с Pana
Name[bn]=আমারক দিয়ে অডিও সিডি চালাও
Name[ca]=Reprodueix el CD Àudio amb l'Pana
Name[cs]=Přehrát audio CD
Name[da]=Afspil lyd-cd med Pana
Name[de]=Audio-CD mit Pana wiedergeben
Name[el]=Αναπαραγωγή CD ήχου με το Pana
Name[eo]=Ludi Muzikan KD-n per Pana
Name[es]=Reproducir CD con Pana
Name[et]=Esita audio CD Panais
Name[fa]=پخش دیسک فشردۀ صوتی با Pana
Name[fi]=Soita CD-levy Panailla
Name[fr]=Écouter un CD Audio avec Pana
Name[ga]=Seinn Dlúthdhiosca Fuaime le Pana
Name[hu]=Hang-CD lejátszása az Panakal
Name[is]=Spila tónlistardisk með Pana
Name[it]=Riproduci CD audio con Pana
Name[ja]=Pana でオーディオ CD を再生
Name[ka]=აუიდიო CD-ის დაკვრა Pana-ით
Name[km]=ចាក់​ស៊ីឌី​អូឌីយ៉ូ​ជា​មួយ Pana
Name[lt]=Groti audio CD su Pana
Name[mk]=Свири аудиоцд со Амарок
Name[nb]=Spill lyd-CD med Pana
Name[nds]=Audio-CD mit Pana afspelen
Name[ne]=अमारोकसँग अडियो सीडी बजाउनुहोस्
Name[nl]=Audio-cd met Pana afspelen
Name[nn]=Spel lyd-CD med Pana
Name[pa]=ਅਮਰੋਕ ਨਾਲ ਆਡੀਓ CD ਚਲਾਓ
Name[pl]=Odtwórz Audio CD za pomocą Pana
Name[pt]=Tocar o CD de Áudio com o Pana
Name[pt_BR]=Reproduzir CD de Áudio com o Pana
Name[se]=Čuojat jietna-CD:a Panaain
Name[sk]=Zahrať Audio CD pomocou Pana
Name[sr]=Пусти аудио CD помоћу Pana-а
Name[sr@Latn]=Pusti audio CD pomoću Pana-a
Name[sv]=Spela ljud-cd med Pana
Name[th]=เล่นซีดีบันทึกเสียงด้วย Pana
Name[tr]=Ses CD'sini Pana ile Çal
Name[uk]=Грати аудіо-КД в Pana
Name[uz]=Audio-diskni Pana bilan tinglash
Name[uz@cyrillic]=Аудио-дискни Pana билан тинглаш
Name[wa]=Djouwer l' CD d' muzike avou Pana
Name[zh_CN]=用 Pana 播放音频 CD
Name[zh_TW]=以 Pana 播放音樂 CD
Icon=pana
Exec=pana --cdplay %u
