[Desktop Entry]
Encoding=UTF-8
ServiceTypes=text/html,text/xml,application/xml,text/rss,text/rdf
Actions=addAsPodcast;
[Desktop Action addAsPodcast]
Name=Add as Podcast to Pana
Name[af]=Voeg as Podcast by Pana by
Name[bg]=Добавяне като подкаст в Pana
Name[bn]=পডকাস্ট হিসেবে আমারক-এ যোগ করো
Name[ca]=Afegeix com a Podcast a l'Pana
Name[cs]=Přidat podcast
Name[da]=Tilføj som podradioudsendelse i Pana
Name[de]=Als Podcast zu Pana hinzufügen
Name[el]=Προσθήκη ως εκπομπή Pod στο Pana
Name[eo]=Aldonu kiel Podkasto al Pana
Name[es]=Añadir como un podcast a Pana
Name[et]=Lisa Podcastina Panaile
Name[fa]=افزودن به عنوان Podcast به Pana
Name[fi]=Lisää Panaiin podcastina
Name[fr]=Ajouter en tant que podcast dans Pana
Name[hu]=Betevés az Panaba podcast-ként
Name[is]=Bæta við Pana sem Podcast
Name[it]=Aggiungi come podcast in Pana
Name[ja]=ポッドキャストとして Pana に追加
Name[km]=បន្ថែម​ជា​ផតខាស់​ទៅ Pana
Name[lt]=Įterpti Podcast į Pana grojaraštį
Name[nb]= Legg til Pana som podkast
Name[nds]=As Podcast na Pana tofögen
Name[ne]=अमारोकमा पोडकास्टको रूपमा थप्नुहोस्
Name[nl]=Als Podcast aan Pana toevoegen
Name[nn]=Legg til som podkast i Pana
Name[pa]=ਅਮਰੋਕ 'ਚ ਪੋਸਟਕਾਸਟ ਵਾਂਗ ਸ਼ਾਮਿਲ
Name[pl]=Dodaj jako podcast do Panaa
Name[pt]=Adicionar como 'Podcast' ao Pana
Name[pt_BR]=Adicionar como Podcast ao Pana
Name[se]=Lasit podkásttan Pana:ii
Name[sk]=Pridať ako Podcast do Pana
Name[sr]=Додај као подемисију у Pana
Name[sr@Latn]=Dodaj kao podemisiju u Pana
Name[sv]=Lägg till som podradiosändning i Pana
Name[th]=เพิ่มเป็นพ็อดแคสต์ไปยัง Pana
Name[tr]=Pana'a Podcast olarak Ekle
Name[uk]=Додати в Pana як подкест
Name[uz]=Pana'ka podkast sifatida qoʻshish
Name[uz@cyrillic]=Pana'ка подкаст сифатида қўшиш
Name[wa]=Radjouter come Podcast a Pana
Name[zh_CN]=将播客添加到 Apana
Name[zh_TW]=將 Podcast 加入 Pana
Icon=pana
Exec=dcop pana playlistbrowser addPodcast %u
