[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Name=Pana
Name[bn]=আমারক
Name[el]=AmaroK
Name[ga]=AmaroK
Name[lt]=amaroK
Name[mk]=Амарок
Name[ne]=अमारोक
Name[pa]=ਅਮਰੋਕ
Name[ru]=amaroK
Name[zh_TW]=AmaroK
GenericName=Audio Player
GenericName[af]=Oudio Speler
GenericName[ar]=قارئى الصوت
GenericName[bg]=Аудио плеър
GenericName[bn]=অডিও প্লেয়ার
GenericName[br]=C'hoarier klevet
GenericName[ca]=Reproductor d'àudio
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audio-Wiedergabeprogramm
GenericName[el]=Αναπαραγωγή ήχου
GenericName[eo]=Aŭdludilo
GenericName[es]=Reproductor de audio
GenericName[et]=Helifailide mängija
GenericName[eu]=Audio-erreproduktorea
GenericName[fa]=پخش‌کنندۀ صوتی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur audio
GenericName[ga]=Seinnteoir Fuaime
GenericName[gl]=Reprodutor de Áudio
GenericName[hi]=ऑडियो प्लेयर
GenericName[hu]=Zenelejátszó
GenericName[is]=Tónlistarspilari
GenericName[it]=Lettore audio
GenericName[ja]=オーディオプレーヤ
GenericName[ka]=აუდიოდამკვრელი
GenericName[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ
GenericName[lt]=Muzikos grotuvas
GenericName[mk]=Аудио-изведувач
GenericName[mn]=Аудио-изведувач
GenericName[ms]=Pemain Audio
GenericName[nb]=Musikkavspiller
GenericName[nds]=Klangafspeler
GenericName[ne]=अडियो प्लेयर
GenericName[nl]=Audiospeler
GenericName[nn]=Lydspelar
GenericName[pa]=ਆਡੀਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz audio
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Reprodutor de Áudio
GenericName[ru]=Аудиоплеер
GenericName[se]=Jietnačuojaheaddji
GenericName[sk]=Audio prehrávač
GenericName[sl]=Predvajalnik zvoka
GenericName[sq]=Audio plejer
GenericName[sr]=Аудио плејер
GenericName[sr@Latn]=Audio plejer
GenericName[ss]=Audio plejer
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[tg]=Аудио Плейер
GenericName[th]=โปรแกรมเล่นเสียง
GenericName[tr]=Müzik Çalar
GenericName[uk]=Аудіопрогравач
GenericName[uz]=Audio-pleyer
GenericName[uz@cyrillic]=Аудио-плейер
GenericName[wa]=Djouweu d' muzike
GenericName[zh_CN]=音频播放器
GenericName[zh_TW]=音樂播放程式
Exec=pana %U
Comment=Pana - Rediscover Your Music!
Comment[bg]=Pana - преоткрий музиката!
Comment[bn]=আমারক - আপনার সঙ্গীতের এক নতুন দিগন্ত
Comment[ca]=Pana - Redescobreix la teva música!
Comment[cs]=Pana - objevte svou hudbu!
Comment[da]=Pana - Genopdag din musik!
Comment[de]=Pana - Musik neu erleben!
Comment[el]=Pana - Ξαναανακαλύψτε τη μουσική σας!
Comment[es]=Pana - ¡Vuelva a descubrir su música!
Comment[et]=Pana - naudi oma muusikat!
Comment[hu]=Pana - fedezze fel a zenéjét
Comment[is]=Pana - enduruppgötvaðu tónlistina þína!
Comment[it]=Pana - Riscopri la tua musica!
Comment[ja]=Pana - あなたの音楽を再発見
Comment[km]=Pana - រកឃើញ​តន្ត្រី​របស់​អ្នក​ឡើង​វិញ !
Comment[lt]=Pana – atraskite savo muziką iš naujo!
Comment[nds]=Pana - Beleev Dien Musik nieg!
Comment[nl]=Pana - Herontdek uw muziek!
Comment[nn]=Pana – gjenoppdag musikken din!
Comment[pl]=Pana - odkryj na nowo swoją muzykę!
Comment[pt]=Pana - Descubra de Novo a Sua Música!
Comment[pt_BR]=Pana - Redescubra Sua Música!
Comment[sk]=Pana - Znova objavte hudbu!
Comment[sr]=Pana — откријте своју музику!
Comment[sr@Latn]=Pana — otkrijte svoju muziku!
Comment[sv]=Pana - Återupptäck din musik!
Comment[th]=Pana - ค้นพบมิติใหม่ในดนตรีของคุณ!
Comment[tr]=Pana - Müziğinizi yeniden keşfedin!
Comment[uk]=Pana - заново відчуйте свою музику!
Comment[uz]=Pana - musiqaga yangidan nazar tashlang
Comment[uz@cyrillic]=Pana - мусиқага янгидан назар ташланг
Comment[wa]=Pana - Ridiscovroz vosse muzike!
Comment[zh_TW]=Pana - 重新發現你的音樂！
Icon=pana
X-KDE-Protocols=http
#don't add inode/directory to mimetypes it leads to misbehavior
MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/x-ms-asf;
DocPath=pana/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;Player;
